h2 {
  text-align: center;
  color: var(--ion-color-primary);
  margin-bottom: 1rem;
}

ion-card {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

ion-progress-bar {
  margin-top: 1rem;
  height: 10px;
  border-radius: 8px;
}
