h2 {
  text-align: center;
  color: var(--ion-color-primary);
  margin-bottom: 1rem;
}

ion-card {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

ion-progress-bar {
  margin-top: 1rem;
  height: 10px;
  border-radius: 8px;
}


.progreso-personalizado {
  --progress-background: var(--ion-color-step-150); // fondo neutro
  --progress-bar-background: var(--ion-color-primary); // color rosa definido

  height: 10px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

// Si usas tema oscuro
@media (prefers-color-scheme: dark) {
  .progreso-personalizado {
    --progress-background: var(--ion-color-step-300);
  }
}
