// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #e91e63; // rosa
  --ion-color-primary-rgb: 233, 30, 99;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d81b60;
  --ion-color-primary-tint: #ec407a;

  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-color-step-50: #fdfdfd;
}

body.dark {
  --ion-color-primary: #ff80ab; // rosa más suave en modo oscuro
  --ion-color-primary-rgb: 255, 128, 171;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #ff5c8d;
  --ion-color-primary-tint: #ff99bd;

  --ion-background-color: #1e1e1e;
  --ion-text-color: #ffffff;
  --ion-color-step-50: #2a2a2a;
}


