<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Bienvenida -->
  <div class="welcome-box">
    <h2>¡Bienvenido! 💸</h2>
    <p>Gestiona tus préstamos fácilmente.</p>
  </div>

  <!-- Buscador -->
  <ion-searchbar
    placeholder="Buscar por nombre..."
    [(ngModel)]="filtro"
    (ionInput)="filtrarPrestamos()"
    debounce="300"
    showClearButton="focus">
  </ion-searchbar>

  <!-- Listado de préstamos -->
  <ion-list *ngIf="prestamosFiltrados.length > 0" class="prestamo-list">
    <ion-item-sliding *ngFor="let prestamo of prestamosFiltrados" class="prestamo-sliding">
      <ion-item
        class="prestamo-card"
        lines="none"
        [class.pagado]="(prestamo.cuotasPagadas || 0) >= prestamo.cuotas"
        [routerLink]="['/prestamo', prestamo.id]"
        detail
      >
        <ion-label>
          <h2 class="nombre">{{ prestamo.nombre }}</h2>
          <p class="monto">💰 ${{ prestamo.monto | number:'1.0-0' }}</p>
          <p class="cuotas">📆 Cuotas: {{ prestamo.cuotasPagadas || 0 }}/{{ prestamo.cuotas }}</p>
          <ion-badge
            *ngIf="(prestamo.cuotasPagadas || 0) >= prestamo.cuotas"
            color="success"
          >
            Pagado
          </ion-badge>
        </ion-label>
      </ion-item>

      <!-- Botón deslizable -->
      <ion-item-options side="end" style="padding: 16px;">
        <ion-item-option color="light" expandable (click)="confirmarEliminar(prestamo)" style="background: transparent;">
          <ion-icon name="trash-outline" slot="icon-only" class="icono-eliminar"></ion-icon>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>

  <!-- Si no hay resultados -->
  <ion-text *ngIf="prestamosFiltrados.length === 0">
    <p class="ion-padding">No hay préstamos que coincidan con la búsqueda.</p>
  </ion-text>

  <!-- Botones flotantes -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="abrirModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleTheme()">
        <ion-icon [name]="isDark ? 'sunny-outline' : 'moon-outline'"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="verEstadisticas()">
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
