.prestamo-item {
  --padding-start: 16px;
  --inner-padding-end: 10px;
  border-radius: 12px;
  margin-bottom: 8px;
  background: var(--ion-color-step-50);
  transition: background 0.3s ease;

  &.pagado {
    border-left: 4px solid var(--ion-color-success);
  }

  ion-label h2 {
    font-weight: 600;
    color: var(--ion-color-primary);
    margin: 0;
  }

  ion-label p {
    margin: 2px 0 0 0;
    font-size: 0.85rem;
    color: var(--ion-color-medium);
  }
}

// 🌓 Estilo específico para modo oscuro
body.dark {
  .prestamo-item {
    background: #1e1e1e; // fondo más oscuro
  }

  .prestamo-item ion-label h2,
  .welcome-box h2 {
    color: #ffffff;
  }

  .prestamo-item ion-label p,
  .welcome-box p {
    color: #bbbbbb;
  }
}

.welcome-box {
  margin-bottom: 1rem;
  text-align: center;

  h2 {
    font-size: 1.4rem;
    color: var(--ion-color-primary);
    margin-bottom: 0.2rem;
  }

  p {
    color: var(--ion-color-medium);
    margin: 0;
  }
}
